
.heder-main-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin-bottom: 2rem;*/
}
header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

header button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

header button:hover {
  background-color: #45a049;
}

/* Main */
#task-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task.dragging {
  opacity: 0.5;
  border: 2px dashed #007bff;
}


.task {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.task .add-subtask-btn {
  position: absolute;
  bottom: 10px;
  right: 100px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.task .add-subtask-btn:hover {
  background-color: #0056b3;
}

/* Скрытая строка с подзадачей */
.task .subtask-container {
  display: none;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.task.open .subtask-container {
  display: block;
}

/* Ввод для подзадачи */
.subtask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.subtask.completed {
  background-color: #ffffff; /* Светло-зелёный для выполненных подзадач */
}

.subtask .subtask-content {
  flex-grow: 1;
  font-size: 16px;
  transition: all 0.3s ease;
}

.subtask .subtask-actions {
  display: flex;
  align-items: center;
}

.subtask .complete-checkbox {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  accent-color: #000000; 
  /* Цвет галочки и обводки */
  transition: all 0.3s ease; /* Плавный переход для изменений */
}

.subtask .delete-btn-sub {
  background: none;
  border: none;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
  transition: color 0.3s ease;
}

.subtask .delete-btn-sub:hover {
  color: #2e2e2e;
}

/* Стиль для выполненной подзадачи */
.subtask.completed .subtask-content {
  text-decoration: line-through;
  opacity: 0.5; /* Полупрозрачный текст */
}

.subtask:hover {
  background-color: #f7f7f7; /* Легкий синий фон */
}

/* Кнопка удаления */
.task-buttons .delete-btn {
  position: absolute;
  top: 8px;
  right: 9px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #000000; /* Цвет для удаления */
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  z-index: 1; /* Убедимся, что кнопка сверху */
}

.task-buttons .delete-btn:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Черный полупрозрачный фон при наведении */
  border-color: rgba(0, 0, 0, 0.7); /* Более темная обводка */
}

.task-buttons .delete-btn i {
  font-size: 14px; /* Размер иконки внутри кнопки */
  padding: 2px;
}

.task.default {
  background: #ffffff;
}

.task.completed {
  background-color: #d4edda; /* Зеленый для завершенных задач */
  opacity: 0.7;
}

.task.canceled {
  background-color: #f8d7da; /* Красный для отмененных задач */
  opacity: 0.7;
}
.task-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
/* Стили для кнопок */
.task-buttons button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

/* Стили для выполненной задачи */
.task.completed button {
  background-color: #28a745;
  color: white;
}

.task.completed button:hover {
  background-color: #218838;
}

/* Стили для отмененной задачи */
.task.canceled button {
  background-color: #dc3545;
  color: white;
}

.task.canceled button:hover {
  background-color: #c82333;
}

/* Прячем элементы */
.hidden {
  display: none;
}

/* Popup */
#popup, #edit_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#popup.hidden, #edit_popup.hidden {
  display: none;
}

.popup-content {
  background: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  max-width: 400px;
}

.popup-content h2 {
  margin: 0 0 1rem;
}

.popup-content label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.popup-content input,
.popup-content textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup-content .submit-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.popup-content .submit-btn:hover {
  background-color: #45a049;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.close-btn:hover {
  color: #000;
}

/* Popup для удаления */
#delete-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, pointer-events 0s 0.3s;
}

/* Когда попап скрыт */
#delete-popup.hidden {
  opacity: 0;
  pointer-events: none;
}

/* Когда попап отображается */
#delete-popup:not(.hidden) {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease;
}

.delete-popup-content {
  background: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.delete-popup-content h2 {
  margin: 0 0 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.delete-popup-content p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.delete-popup-content .popup-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.delete-popup-content .submit-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.delete-popup-content button:hover {
  background-color: #d32f2f;
}

.delete-popup-content .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.delete-popup-content .close-btn:hover {
  color: #000;
  background: none;
}

.delete-popup-content .cancel-btn:hover {
  background-color: #757575;
}

.task.completed .delete-btn-sub , .task.canceled .delete-btn-sub
{
  background: none;
  border: none;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
}
.task.completed .delete-btn-sub:hover, .task.canceled .delete-btn-sub:hover{
  background-color: transparent;
}

.tabs-container {
  display: flex;
  overflow-x: auto; /* Горизонтальный скролл */
  gap: 20px; /* Отступ между табами */
  padding: 5px 0; /* Отступы сверху и снизу */
  overflow-x: scroll; /* Прокрутка по горизонтали */
  -ms-overflow-style: none;  /* Для Internet Explorer 10+ */
  scrollbar-width: none; /* Для Firefox */
}

.tabs-container::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и Opera */
}

.tab {
  flex-shrink: 0; /* Запрещаем сжатие кнопок */
  padding: 8px 8px;
  background-color: #ffffff;
  color: #0a0a0a;
  border: 1px solid #0a0a0a;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  white-space: nowrap; /* Запрещает перенос текста */
}

.tab:hover {
  background-color: #e0e0e0;
}

.active-tab {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}



body {
  max-width: 360px;
  padding: 1rem; /* Уменьшаем отступы */
  margin: 0 auto; /* Центрируем содержимое, без внешнего отступа */
  background-color: #121212; /* Черный фон */
  color: #ffffff; /* Белый цвет текста для контраста */
  font-family: 'Unbounded', sans-serif;
}
.header {
  width: 340;
  background-color: #fff; /* Белый фон для хедера */
  padding: 10px; /* Отступы внутри хедера */
  border-radius: 12px; /* Легкое закругление */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px; /* Устанавливаем высоту хедера */
  margin-bottom: 5px;
}

.header h1 {
  font-family: 'Unbounded', sans-serif;
  font-size: 14px; /* Размер шрифта */
  color: #121212; /* Черный цвет для заголовка */
  margin: 0; /* Убираем отступы */
}

.tabs-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 100%; /* Забирает всю высоту родительского элемента */
  justify-content: space-between;
  user-select: none;
  overflow: hidden;
}

/* Стиль для табов */
.tab {
  font-family: 'Unbounded', sans-serif;
  background-color: #121212;
  color: #ffffff;
  border-radius: 9px;
  border: 0px;
  padding: 12px 10px;
  text-align: center;
  width: 130px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
}

.tab:hover {
  background-color: #202020;
}

.active-tab {
  background-color: #0cf520;
  color: white;
}

.active-tab:hover{
  background-color: #19db29;
}

.tab:focus {
  outline: none;
}


/* Основной стиль для кнопки */
#add-task-btn {
  width: 100%; /* Растягиваем кнопку на всю ширину экрана */
  background-color: #0cf520; /* Ярко-зеленый фон кнопки */
  color: #ffffff; /* Белый цвет текста */
  border: none; /* Без рамки */
  border-radius: 12px; /* Легкое закругление */
  padding: 12px 24px; /* Отступы внутри кнопки */
  font-family: 'Unbounded', sans-serif; /* Шрифт для кнопки */
  font-size: 18px; /* Размер шрифта */
  cursor: pointer; /* Курсор при наведении */
  transition: all 0.3s ease; /* Плавная анимация при изменении */
  box-shadow: 0 4px 12px rgba(0, 255, 0, 0.3); /* Легкое свечение вокруг кнопки */
}

/* Стиль кнопки при наведении */
#add-task-btn:hover {
  background-color: #0cf520; /* Ярко-зеленый фон при наведении */
  box-shadow: 0 0 20px #00ff00b3; /* Увеличенное свечение */
}

/* Стиль кнопки при нажатии */
#add-task-btn:active {
  background-color: #19db29; /* Еще более яркий зеленый при нажатии */
  box-shadow: 0 0 40px rgba(0, 255, 0, 0.9); /* Сильное свечение при нажатии */
}

/* Стиль для текста на кнопке */
#add-task-btn span {
  font-weight: bold; /* Жирный текст */
}

/* Дополнительный эффект свечения */
@keyframes glowing {
  0% { box-shadow: 0 0 5px #0cf520, 0 0 10px #0cf520, 0 0 15px #0cf520; }
  50% { box-shadow: 0 0 20px #0cf520, 0 0 30px #0cf520, 0 0 40px #0cf520; }
  100% { box-shadow: 0 0 5px #0cf520, 0 0 10px #0cf520, 0 0 15px #0cf520; }
}

#add-task-btn:hover {
  animation: glowing 1.5s ease-in-out infinite; /* Анимация свечения при наведении */
}
