/* Прячем элементы */
.hidden {
  display: none;
}

/* Popup */
#popup, #edit_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#popup.hidden, #edit_popup.hidden {
  display: none;
}

.popup-content {
  background: #ffffff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 330px;
}

.popup-content h2 {
  margin: 0 0 1rem;
}

.popup-content label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.popup-content input,
.popup-content select,
.popup-content textarea {
  width: 95%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup-content .submit-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #0cdb74;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.popup-content .submit-btn:hover {
  background-color: #0cdb74;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.close-btn:hover {
  color: #000;
}

/* Popup для удаления */
#delete-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, pointer-events 0s 0.3s;
}

/* Когда попап скрыт */
#delete-popup.hidden {
  opacity: 0;
  pointer-events: none;
}

/* Когда попап отображается */
#delete-popup:not(.hidden) {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease;
}

.delete-popup-content {
  background: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.delete-popup-content h2 {
  margin: 0 0 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.delete-popup-content p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.delete-popup-content .popup-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.delete-popup-content .submit-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.delete-popup-content button:hover {
  background-color: #d32f2f;
}

.delete-popup-content .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.delete-popup-content .close-btn:hover {
  color: #000;
  background: none;
}

.delete-popup-content .cancel-btn:hover {
  background-color: #757575;
}

.task.completed .delete-btn-sub , .task.canceled .delete-btn-sub
{
  background: none;
  border: none;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
}
.task.completed .delete-btn-sub:hover, .task.canceled .delete-btn-sub:hover{
  background-color: transparent;
}

.tabs-container {
  display: flex;
  overflow-x: auto; /* Горизонтальный скролл */
  gap: 20px; /* Отступ между табами */
  padding: 5px 0; /* Отступы сверху и снизу */
  overflow-x: scroll; /* Прокрутка по горизонтали */
  -ms-overflow-style: none;  /* Для Internet Explorer 10+ */
  scrollbar-width: none; /* Для Firefox */
}

.tabs-container::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и Opera */
}

.tab {
  flex-shrink: 0; /* Запрещаем сжатие кнопок */
  padding: 8px 8px;
  background-color: #ffffff;
  color: #0a0a0a;
  border: 1px solid #0a0a0a;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  white-space: nowrap; /* Запрещает перенос текста */
}

.tab:hover {
  background-color: #e0e0e0;
}

.active-tab {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}


body {
  max-width: 360px;
  padding: 1rem; /* Уменьшаем отступы */
  margin: 0 auto; /* Центрируем содержимое, без внешнего отступа */
  font-family: 'Unbounded', sans-serif, 'Roboto', 'Arial', sans-serif; /* Пример использования Unbounded и Roboto */
  color: #ffffff;
  background-color: #121212;
}
h1, h2, h3 {
  font-family: 'Unbounded', sans-serif;
}
p, span, li {
  font-family: 'Roboto', sans-serif; /* Обычный текст в Roboto */
}
.header {
  width: 340;
  background-color: #fff; /* Белый фон для хедера */
  padding: 10px; /* Отступы внутри хедера */
  border-radius: 12px; /* Легкое закругление */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; /* Устанавливаем высоту хедера */
  margin-bottom: 5px;
}

.header h1 {
  font-family: 'Unbounded', sans-serif;
  font-size: 14px; /* Размер шрифта */
  color: #121212; /* Черный цвет для заголовка */
  margin: 0; /* Убираем отступы */
}

.tabs-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 100%; /* Забирает всю высоту родительского элемента */
  justify-content: space-between;
  user-select: none;
  overflow: hidden;
}

/* Стиль для табов */
.tab {
  font-family: 'Unbounded', sans-serif;
  background-color: #121212;
  color: #ffffff;
  border-radius: 9px;
  border: 0px;
  padding: 10px 8px;
  text-align: center;
  width: 120px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
}

.tab:hover {
  background-color: #202020;
}

.active-tab {
  background-color: #0cdb74;
  color: white;
}

.active-tab:hover{
  background-color: #19db29;
}

.tab:focus {
  outline: none;
}


/* Основной стиль для кнопки */
#add-task-btn {
  width: 100%; /* Растягиваем кнопку на всю ширину экрана */
  background-color: #0cdb74; /* Ярко-зеленый фон кнопки */
  color: #ffffff; /* Белый цвет текста */
  border: none; /* Без рамки */
  border-radius: 12px; /* Легкое закругление */
  padding: 12px 24px; /* Отступы внутри кнопки */
  font-family: 'Unbounded', sans-serif; /* Шрифт для кнопки */
  font-size: 18px; /* Размер шрифта */
  cursor: pointer; /* Курсор при наведении */
  transition: all 0.3s ease; /* Плавная анимация при изменении */
  box-shadow: 0 2px 6px #0cdb744d; /* Легкое свечение вокруг кнопки */

  animation: glowing 1.5s ease-in-out infinite; /* Анимация свечения при наведении */
  margin-bottom: 5px;
}

/* Стиль кнопки при наведении */
#add-task-btn:hover {
  background-color: #0cdb74; /* Ярко-зеленый фон при наведении */
  box-shadow: 0 0 20px #00ff00b3; /* Увеличенное свечение */
}

/* Стиль кнопки при нажатии */
#add-task-btn:active {
  background-color: #19db29; /* Еще более яркий зеленый при нажатии */
  box-shadow: 0 0 40px rgba(0, 255, 0, 0.9); /* Сильное свечение при нажатии */
}

/* Стиль для текста на кнопке */
#add-task-btn span {
  font-weight: bold; /* Жирный текст */
}

/* Дополнительный эффект свечения */
@keyframes glowing {
  0% { box-shadow: 0 0 2px #0cdb74, 0 0 5px #0cdb74, 0 0 7px #0cdb74; }
  50% { box-shadow: 0 0 10px #0cdb74, 0 0 15px #0cdb74, 0 0 20px #0cdb74; }
  100% { box-shadow: 0 0 2px #0cdb74, 0 0 5px #0cdb74, 0 0 7px #0cdb74; }
}


/* Стили для самого фильтра */
#category-filter {
  width: 100%; /* Занимает всю ширину родительского элемента */
  background-color: hsl(0, 0%, 7%,0); /* Белый фон */
  color: #ffffff; /* Темный текст для контраста */
  border: none; /* Без рамки */
  border-radius: 12px; /* Закругленные углы */
  padding: 8px 12px; /* Отступы внутри */
  font-family: 'Unbounded', sans-serif; /* Шрифт */
  font-size: 12px; /* Размер шрифта */
  appearance: none; /* Отключаем стандартный стиль */
  -webkit-appearance: none; /* Для Safari */
  -moz-appearance: none; /* Для Firefox */
}
/* Стрелка выпадающего списка */
#category-filter:hover {
  right: 10px;
  font-size: 12px;
  color: #cfcfcf;
}
/* Стили для пунктов выпадающего списка */
#category-filter option {
  font-family: 'Unbounded', sans-serif;
  color: #121212;
  background-color: #ffffff00; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}

#category-filter option:checked {
  background-color: #0cdb74; /* Зеленый фон для выбранного пункта */
}

#category-filter:focus {
  outline: none;
}

.custom-select {
  position: relative;
  width: 100%;
}
.custom-select::after {
  content: '▼'; /* Своя стрелка */
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: #ffffff; /* Цвет стрелки */
  font-size: 14px;
  pointer-events: none; /* Игнорирует клики */
}



.task-card {
  background-color: #ffffff; /* Белый фон */
  border-radius: 12px; /* Закруглённые углы */
  padding: 16px;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  color: #333; /* Темный текст */
  display: flex;
  flex-direction: column; /* Отступ между блоками */
}


.task-header {
  font-family: 'Unbounded', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #121212;
}

.task-importance {
  color: #ffd000; /* Оранжевый цвет для важности */
  font-size: 14px;
}

.task-additional-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #121212;
}

/* Категория задачи */
.task-category {
  content: center;
  font-size: 14px;
  color: #ffffff;
  width: fit-content;
  background-color:#121212;
  border-radius: 0px 12px 12px 0px; /* Закруглённые углы */
  font-weight: bold;
  padding: 2px 30px;

}

/* Описание задачи */
.task-description {
  font-size: 12px;
  border: 2px;
  color: #7e7e7e;
  background-color:#ffffff;
  border: 1px dashed #cfcfcf;
  border-radius: 12px; /* Закруглённые углы */
  font-weight: bold;
  padding: 2px 5px;
  line-height: 1.5;
  margin: 0;
}

/* Футер карточки */
.task-footer {
  display: flex;
  justify-content: flex-end; /* Размещаем элементы по правому краю */
  align-items: flex-end; /* Выравниваем по нижнему краю */
  padding: 12px;
  align-items: center;
  font-size: 12px;
  color: #777;
  padding: 5px 5px;
}

/* --- Большие кнопки (выполнить и отменить) --- */
.task-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.task-actions button {
  width: 180px; /* Ограничиваем максимальную ширину */
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
  border: none;
  color: #fff;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.2s;
}

/* --- Стили для каждой большой кнопки --- */
.task-actions .complete-btn {
  width: 210px;
  background-color: #0cdb74; /* Неоново-зеленый */
}

.task-actions .cancel-btn {
  width: 100px;
  background-color: #121212; /* Красный цвет */
}
.task-actions .complete-btn:hover {
  background-color: #0cdb74; /* Неоново-зеленый */
}

.task-actions .cancel-btn:hover {
  background-color: #313131; /* Красный цвет */
}

/* --- Маленькие кнопки (редактировать, удалить, добавить) --- */
.task-footer .task-buttons {
  display: flex;
  gap: 8px;
  justify-content: flex-end; /* Размещаем элементы справа */
}

.task-buttons button {
  background-color: #121212; /* Светлый фон */
  border: none;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px; /* Круглая кнопка */
  color: #ffffff;
  font-size: 12px;
}

.task-buttons button:hover {
  background-color: #313131; /* Неоновый цвет */
  color: #fff;
}

.task.dragging {
  opacity: 0.5;
  border: 2px dashed #0cdb74;
  border-radius: 12px; /* Круглая кнопка */
}

.subtasks-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px; /* Отступ между подзадачами */
}
.subtask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff; /* Белый фон */
  padding: 8px 12px;
  border: 1px solid #cfcfcf;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-bottom: 2px;
}
/* Стиль подзадач */
.subtask-content {

 /* Закругленные углы */
  font-size: 14px;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
 /* Легкая тень */
}

/* Эффект при наведении на подзадачу */

.subtask.completed .subtask-content {
  text-decoration: line-through;
  opacity: 0.5; /* Полупрозрачный текст */
}
.subtask .subtask-content {
  flex-grow: 1;
  font-size: 16px;
  transition: all 0.3s ease;
}
/* Контейнер для действий подзадачи */
.subtask-actions {
  display: flex;
  align-items: center;
  gap: 12px; /* Отступ между кнопками */
  justify-content: flex-end; /* Кнопки выровнены по правому краю */
  flex-grow: 1; /* Подзадача занимает доступное пространство */
}

/* Кнопка чекбокса */
.complete-checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #0cdb74; /* Цвет для чекбокса */
}

/* Стиль кнопок редактирования и удаления */
.subtask-actions button {
  background-color: #121212; /* Темный фон для кнопок */
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Круглая форма кнопок */
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.subtask-actions button:hover {
  background-color: #313131; /* Неоновый серый цвет */
}

.subtask-actions button i {
  font-size: 16px; /* Иконки имеют меньший размер */
}

.subtask-actions .edit-btn-sub {
  background-color: #ffffff;
  color: #121212 /* Оранжевый для кнопки редактирования */
}

.subtask-actions .delete-btn-sub {
  background-color: #ffffff; /* Красный для кнопки удаления */
  color: #121212 
}

/* Стиль для контейнера подзадач */

.task {
  background-color: #ffffff; /* Белый фон */
  border-radius: 12px; /* Закругленные углы */
  padding: 1px;
  margin-bottom: 10px; /* Отступы между задачами */
  font-family: 'Roboto', sans-serif;
  color: #333; /* Темный текст */
  display: flex;
  flex-direction: column; /* Отступ между блоками */
  transition: transform 0.3s ease;
}

/* Эффект при наведении */
.task:hover {
  transform: translateY(-3px); /* Легкое приподнятие */
  border-radius: 12px;
}

/* Стиль для обычной задачи */
.task.default {
  background-color: #ffffff; /* Светло-серый фон для обычной задачи */
  border-left: 6px solid #ffffff; /* Зеленая полоска слева */
}

.task.default .task-header {
  font-weight: bold;
  color: #121212;
}

/* Стиль для завершенной задачи */
.task.completed {
  background-color: #ffffff; /* Легкий зеленый фон */
  border-left: 6px solid #0cdb74; /* Зеленая полоска для завершенной задачи */
  text-decoration: line-through; /* Перечеркнутый текст */
  color: #7e7e7e; /* Серый текст */
}

.task.completed .task-header {
  color: #7e7e7e; /* Цвет заголовка для завершенной задачи */
}

/* Стиль для отмененной задачи */
.task.canceled {
  background-color: #ffffff; /* Светло-красный фон */
  border-left: 6px solid #e74c3c; /* Красная полоска для отмененной задачи */
  text-decoration: line-through; /* Перечеркнутый текст */
  color: #7e7e7e; /* Серый текст */
}

.task.canceled .task-header {
  color: #e74c3c; /* Красный цвет для заголовка отмененной задачи */
}

/* Шрифт и стили для заголовков */
.task-header {
  font-family: 'Unbounded', sans-serif;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Основной текст задачи */
.task-description {
  font-size: 12px;
  color: #7e7e7e;
  background-color: #ffffff;
  border: 1px dashed #cfcfcf;
  border-radius: 12px;
  padding: 8px;
  margin-top: 8px;
  line-height: 1.5;
}

/* Подписи и футер */
.task-footer {
  font-size: 12px;
  color: #777;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}